<h1>This is the campgrounds page!</h1>

<!-- Looping through each of the campgrounds in our array -->
<% campgrounds.forEach(function(campground){  %>
    <div>
        <h4><%= campground.name %></h4>
        <img src="<%= campground.image %>">
    </div>
    

<% }); %>